/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 feb 2024, 16:18:27
    Author     : Infernus
*/

body {
    margin: 0;
    box-sizing: border-box;
    front-family: sans-serif;
    padding: 90px 20px 0;
}
.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px
    background-color : #41C392;
}
.nav {
    display:flex
    justify-content : space-between;
    max-width: 100px;
    margin: 0 auto;
}
.nav-menu {
    display:felx;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    background-color: green;
}
.nav-menu-link{
    front-size: 18px;
    line-height: 90px;
    width: max-content;
}
.nav-menu-link:hover{
    background-color: aquamarine;
    transition:0.5s;
}
.aside {
    position: fixed;
    top: 20%;
    left: 0;
    width: 20%;
    height: 75%;
    background-color: aqua;
}

.section {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 80%;
    height: 75%;
    background-color: bisque;
    overflow-y: scroll;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: yellowgreen;
    text-align: center;
}